@model Domain.Entities.WebUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WebUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogUserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogUserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorLoginCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorLoginCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
